{% extends 'base.html' %}
{% block contenido %}
{% load static %}
{% if noticia %}
{% if user.is_superuser %}
<li><a target="_blank" class="nav-link" href="{% url 'apps.noticia:AddNoticia' %}"> Administrar noticia</a></li>
{% endif %}			
    {% for p in noticia %}

        <h1>{{p.titulo}}</h1>
        <p>{{p.fecha}}</p>
        <p>{{ p.imagen }}</p>
        {% if p.imagen %}
            <img src="{{ p.imagen.url }}"  width="550" height="400">
        {% else %}
            <img src="noticia/default.png"  width="550" height="400">
        {% endif %}
        {{p.texto|safe}}

    {% endfor %}
    <!--p href="{% url 'apps.comentario:AddComentario%}"></p>-->

{% else %}
    <h1>No se ha encontrado la noticia</h1> 
{% endif %}
{% endblock %}