{% extends 'base.html' %}
{% block navbar %}
<!--==========================
          Categorias
============================-->
<nav class="navbar fixed-top" id="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container-fluid" >
            <!-- <a class="navbar-brand" href="{% url 'index' %}">17 OBJ</a> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContentt">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
<li class="nav-item dropdown" style="margin-left: 50%; max-height: 15px;">
    <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link" style="margin-left: 10px;">Inicio</a>
    </li class="nav-item"> 
    {% if user.is_superuser %}
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Administrar</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a target="_blank" class="dropdown-item" href="{% url 'apps.noticia:addNoticia' %}"> Agregar noticias</a></li>
                            <li><a target="_blank" class="dropdown-item" href="{% url 'apps.noticia:modificarNoticia' noticia.id %}"> Modificar noticia</a></li>
                            <li><a target="_blank" class="dropdown-item" href="{% url 'apps.noticia:eliminarNoticia' noticia.id %}"> Eliminar noticia</a></li>
                            <li><a target="_blank" class="dropdown-item" href="{% url 'apps.noticia:addNoticia' %}"> Administrar comentarios</a></li>
                            <li><a target="_blank" class="dropdown-item" href="{% url 'apps.noticia:addNoticia' %}"> Administrar categorias</a></li>
                        </ul>
                    {% endif %}
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Categorías
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ul>
                {%for i in categoria %}
                <li><a class="dropdown-item" target="_blank" href="{% url 'apps.noticia:listarPorCategoria' categoria.nombre %}">{{i.nombre}}</a></li>
                {% endfor %}
            </ul>
    </ul> 
    <li class="nav-item">
    <form class="d-flex justify-content-center ms-3" action="{%url 'index'%}" method="POST">{%csrf_token%}
        <input class="form-control me-3" type="date" name="fecha" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" 
            stroke-linejoin="round" stroke-width="2" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" 
            cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </button>
    </form>
</li class="nav-item"> 
</li>
</ul>
</div>
</div>
</nav>
</nav>
{%endblock%}
{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

{% if noticia %}	

    {% for p in noticia %}
                
    <div class="container" style="margin-top: 10%; ">
        <h1 href="{% url 'apps.noticia:post-detail' %}" style="text-align: center;">{{p.titulo}}</h1>
        <h3 style="text-align: center;">{{p.subtitulo}}</h3>
        <p style="text-align: center;">{{p.fecha}}</p>
        <!--*******Imagen*******-->
        <p style="margin-left: 30%;">{% if p.imagen %}<img src="{{ p.imagen.url }}"  width="550" height="400">
           {% else %}<img src="noticia/default.png"  width="550" height="400">
           {% endif %}</p>
        {% if user.is_authenticated %}<!--Solo si esta logueado podrá ver el texto, comentar y entrar a la noticia-->
        <p style="text-align: center;">{{p.texto|safe}}</p>
        <!--*******Comentarios*******-->
        <div class="comment">
            Comentarios: {{p.comment.count}}
            <strong>{{ p.comment }}</strong>
            <div class="date">{{ p.comment.publish }}</div>
            <p>{{ p.comment.texto|linebreaks }}</p>
        </div>

        <div data-gb-custom-block data-tag="empty">
            <p>No hay comentarios aún :)</p>
        </div>
        <style>
            .comment{
                margin: 20px 0px 20px 20px;
            }
        </style>
        {% else %}
        <p style="text-align: center;">Para ver las noticias completas, por favor registrese o inicie sesión :)</p> 
        {% endif %}
    {% endfor %}
{% endif %}
</div>

{% endblock %}