
<!DOCTYPE html>
<html lang="es-ar" dir="ltr">
<head>
    <title>Advertis Web Technologies | Especialistas en CMS para medios digitales - panel para gestion de contenidos</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel='dns-prefetch' href='//fonts.gstatic.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link rel='dns-prefetch' href='//embed.tawk.to' />
    <link rel='preconnect' href='https://embed.tawk.to' crossorigin />
    <link rel='dns-prefetch' href='//ssl.google-analytics.com' />
    <link rel='preconnect' href='https://ssl.google-analytics.com' crossorigin />
    <link rel='dns-prefetch' href='//connect.facebook.net' />
    <link rel='preconnect' href='https://connect.facebook.net' crossorigin />

    <meta name="keywords" content="diseño web, desarrollo, portales, wordpress, diarios digitales, radios en internet, cms, administración de contenidos, medios, drupal, wordpress, periodicos, portales, opencms" />
    <meta name="description" content="Desarrollamos portales para medios y asesoramos en estrategias de contenido. Plataforma de gestión de contenidos (CMS) para diarios, radios, portales de noticias, portales deportivos" />

    <meta name="lang" content="es" />
    <meta name="author" content="Advertis Web Technologies" />
    <meta name="organization" content="Advertis Web Technologies" />
    <meta name="copyright" content="Copyright (c) 2022 Advertis Web Technologies" />

    <meta name="viewport" content="width=device-width, minimum-scale=1" />

    <meta property="og:title" content="Advertis Web Technologies | Especialistas en CMS para medios digitales - panel para gestion de contenidos" />
    <meta property="og:description" content="Desarrollamos portales para medios y asesoramos en estrategias de contenido. Plataforma de gestión de contenidos (CMS) para diarios, radios, portales de noticias, portales deportivos" />
    <meta property="og:type" content="website" />
	  <meta property="og:site_name" content="Advertis Web Technologies" />
    <meta property="og:url" content="https://advertis.com.ar/" />
    <meta property="og:image" content="https://advertis.com.ar/images/redes.png" />

    <link rel='preload' href='https://fonts.googleapis.com/css?family=Raleway:400,700,800,900&display=swap' as="font" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800,900&display=swap" rel="stylesheet">

    <link rel='preload' href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&display=swap' as="font" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&display=swap" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" media="all" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/styles/icons.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/styles/responsive.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/styles/main-headroom.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/styles/_animate.css" />

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


	<script type="application/ld+json">
	{
		"@context":"http://schema.org",
		"@type":"Organization",
		"name":"Advertis Web Technologies",
		"description":"Desarrollamos portales para medios y asesoramos en estrategias de contenido.",
		"alternateName":"Advertis",
		"url":"https://advertis.com.ar",
		"logo":"https://advertis.com.ar/images/logo.png",
		"contactPoint":[{
			"@type":"ContactPoint",
			"telephone":"+54 343 5434150",
			"contactType":"sales"
		}],
		"sameAs":[
			"https://www.facebook.com/advertisweb",
			"https://www.twitter.com/advertisweb",
			"https://www.instagram.com/advertisweb",
			"https://www.linkedin.com/company/advertis-web/"
		]
	}
	</script>

	
	<!-- Facebook Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '377152273142789');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	  src="https://www.facebook.com/tr?id=377152273142789&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
	
	<!-- Global site tag (gtag.js) - Google Ads: 1034258303 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1034258303"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'AW-1034258303');
	</script>
	
	<script>
	  gtag('event', 'conversion', {'send_to': 'AW-1034258303/s5QnCIyOrdwCEP-Olu0D'});
	</script>
	
	
	<!-- Twitter universal website tag code -->
	<script>
	!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
	},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
	a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
	// Insert Twitter Pixel ID and Standard Event data below
	twq('init','o9dh4');
	twq('track','PageView');
	</script>
	<!-- End Twitter universal website tag code -->

</head>


<body class="inicio adv-cms">

	<style>
	@media screen and (max-device-width: 768px) {
		.btn {
			color:#fff;
			background:#EB1A22;	
		}
	}

	.adv-cms .storyCover-image {
		background-image: url(/images/cms-top.jpg);
	}
	
	.bt-proba-text {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		margin-top: 10px;
		color:#333;
		display: inline-block;
	}
	</style>


    <span id="inicio-title"></span>

    <article class="postArticle oculto is-languageTier1 seccion" id="inicio" data-allow-notes="true">

    <header id="header" class="cd-header header header--fixed hide-from-print" role="banner">

        <div class="inner">

            <div class="menu">

    <span class="icon-menu"></span>
    
    <div class="bloque">

        <h1 class="logo">

            <a href="/" class="icon-logo" title="Advertis Web Technologies">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
                <span class="path6"></span>
                <span class="path7"></span>
                <span class="path8"></span>
                <span class="path9"></span>
            </a>
        </h1>
    
        <ul>
            <li class="active">
                <a href="/#inicio-title" title="Inicio" class="">Inicio</a>
            </li>
            <li>
                <a href="/#nosotros-title" title="Nosotros" class="">Nosotros</a>
            </li>
            <li>
                <a href="/#servicios-title" title="Servicios" class="">Servicios</a>
            </li>
            <li>
                <a href="/#trabajos-title" title="Trabajos" class="">Trabajos</a>
            </li>
            <li>
                <a href="/#contacto-title" title="Contacto" class="">Contacto</a>
            </li>
            <li>
                <a href="https://www.facebook.com/advertisweb" title="Nuestro canal de Facebook: @advertisweb" class="icon-facebook" rel="noopener noreferrer" target="_blank"></a>
            </li>
        </ul>

    </div>

</div>
        </div>

    </header>
    
    <div class="postField postField--image imagePicker postField--fullImage imagePicker-layout--fill" data-width="4845" data-height="3230" data-filter="grey" data-image-style="full">
        <div class="storyCover" data-load-img=".postHeaderImage--cover">
            <div class="imagePicker-target storyCover-image"></div>

            <div class="u-tableRow u-fill">
                <div class="imagePicker-content storyCover-content">
                    <div data-scroll="post-cover" >
                        <div class="postContent layoutSingleColumn">

                            <header class="postHeader postHeader--notesSource">

                                <h2 class="wow animated fadeIn" data-wow-delay="0.8s"  data-wow-duration="1">CMS de Contenidos para Medios</h2>

                            </header>

                        </div>
                    </div>
                </div>

            </div>
            <span class="storyCover-arrow" data-action="scroll-to-post-start" data-scroll="post-arrow"></span>
        </div>
    </div>

    <a href="#caracteristicas" title="Advertis" class="icon-down wow animated fadeInDown" data-wow-delay="1.2s"></a>

</article>
    <div class="cms">

        <span id="caracteristicas"></span>

        <p class="cl-9 wow fadeInDown"  data-wow-delay="0.2s">El CMS (Content Management System) es una plataforma para la gestión de sitios web, especialmente
            optimizada para la publicación de contenidos online. <br/>
            <br/>
            Este sistema permite la carga descentralizada de contenidos, lo que proporciona una total autonomía del
            usuario, que cuenta con opciones para la jerarquización, ubicación y diseño de la información.
        </p>

        <p class="cl-9 margin-0 wow fadeInDown"  data-wow-delay="0.2s">En Advertis Web Technologies implementamos una plataforma de arquitectura flexible de alto rendimiento,
            que posibilita la adaptación a la estructura de negocio de acuerdo a las necesidades particulares de cada
            cliente. Buscamos adecuar las funcionalidades del CMS, acompañar el crecimiento del sitio y brindar
            nuevas ofertas de contenidos (audiovisuales y textuales).</p>

    </div>

    <div class="cms-data">

        <h2 class="margin-0 wow fadeInRight"  data-wow-delay="0.2s">Características de nuestro CMS</h2>

        <ul>
            <li>
                <span class="icon-cms-administracion wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Administración ágil de noticias y publicaciones del sitio</span>
            </li>

            <li>
                <span class="icon-cms-repositorio wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Recorte de imagenes automático. Adapta la imagen a los diferentes dispositivos</span>
            </li>

            <li>
                <span class="icon-cms-plataformas wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Contenedores de archivo fotográfico, audio y videos</span>
            </li>

            <li>
                <span class="icon-cms-encuestas wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Gestión avanzada de encuestas</span>
            </li>

            <li>
                <span class="icon-cms-comentarios wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Administración de comentarios con plataforma propia o de terceros</span>
            </li>

            <li>
                <span class="icon-cms-reportes wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Reportes de productividad de redactores</span>
            </li>

            <li>
                <span class="icon-cms-portadas wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Editor de portadas 100% visual</span>
            </li>

            <li>
                <span class="icon-cms-usuarios wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Panel con múltiples niveles de usuarios</span>
            </li>

            <li>
                <span class="icon-cms-trafico wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Estadísticas de tráfico y lecturas de artículos</span>
            </li>

            <li>
                <span class="icon-cms-gestion wow fadeInLeft"  data-wow-delay="0.2s"></span>
                <span class="txt wow fadeInRight"  data-wow-delay="0.2s">Gestión de boletines e integración con Mailchimp</span>
            </li>
			
		
        </ul>
		
		<div class="margin-0 wow fadeInRight" style="text-align:center;">
			<a href="https://paneldemo.advertis.com.ar/?register" title="Probá nuestro CMS" class="btn red">Probá nuestro CMS</a>
			<br> <span class="bt-proba-text">* Empezá la prueba ahora, registrate gratis</span>
		</div>

    </div>

    <div id="contacto" class="seccion">
    <span id="contacto-title"></span>

    <h2 class="cont-titulo">
        <span class="numero wow fadeInRight"  data-wow-delay="0.4s"></span>
        <span class="txt-titulo wow fadeIn"  data-wow-delay="0.2s"></span>
    </h2>

    <div class="contacto">

    <ul class="cl-7 wow fadeInDown" data-wow-delay="0.2s">
        <li>
            <span class="icon-facebook"></span>
            <a href="https://www.facebook.com/advertisweb" class="" title="Seguinos en facebook" rel="noopener noreferrer" target="_blank">/advertisweb</a>
        </li>
        <li>
            <span class="icon-e-mail"></span>
            <a href="mailto:contacto@advertis.com.ar" title="Escribinos" rel="noopener noreferrer">contacto@advertis.com.ar</a>
        </li>
        <li>
            <span class="icon-teléfono"></span>
            <span class="txt"><a href="tel:+543435434150" title="Llamanos" rel="noopener noreferrer">(+54) 343 5434150</a></span>
        </li>

        <li>
            <span class="icon-ubicación"></span>
            <span class="txt">Perú 281 6B - Paraná - [ E3100HME ] <br/>
            Entre Ríos - Argentina  -  <span class="map" data-text-close="Cerrar mapa"
                                             data-text-open="Ver mapa">Ver mapa</span>
            </span>
        </li>
    </ul>
        

    <div class="cl-11 margin-0 cont-contacto wow fadeInDown" data-wow-delay="0.1s">

        <form id="fcontacto">

            <div class="cont">
                <div class="form-block">
                    <label for="fnombre">Nombre y apellido:</label>
                    <input maxlength="60" id="fnombre" name="nombre"  type="text" >
                </div>

                <div class="form-block">
                    <label for="femail">Email:</label>
                    <input maxlength="120" id="femail" name="email" type="text" >
                </div>

                <div class="form-block">
                    <label for="ftelefono">Teléfono (opcional):</label>
                    <input maxlength="20" id="ftelefono" name="telefono" type="text">
                </div>
            </div>

            <div class="cont margin-0">
                <div class="form-block">
                    <label for="fmensaje">Mensaje:</label>
                    <textarea maxlength="600" id="fmensaje" name="mensaje"></textarea>
                </div>

                <div class="form-block bt">
                    <button class="enviar" type="submit" title="Enviar consulta" value="Enviar">Enviar</button>
                </div>
            </div>

        </form>

        <div class="cont-error" style="display: none">
            <span class="icon-contacto-error"></span>
            <h3>Tu mensaje no ha podido ser enviado.</h3>
            <p>Disculpá la molestia ! Se produjo un error al intentar enviar tu mensaje. Por favor intentá nuevamente en unos minutos.</p>

            <span  class="bt-volver">Volver</span>
        </div>

        <div class="success" style="display: none;">
            <span class="icon-contacto-ok"></span>
            <h3>Tu mensaje se ha enviado correctamente</h3>
            <p>
                Gracias por comunicarte con nosotros.
                Nos pondremos en contacto a la brevedad.
            </p>
            <span class="bt-volver">Volver</span>

        </div>

    </div>

        <div class="cl-11 margin-0 mapa">
            <div id="map"></div>
        </div>

    </div>

</div>
    <div class="bottom">
        © Copyright 2022 advertis.com.ar - Todos los derechos reservados
    </div>

    <script src="/js/jquery.js"></script>
<script src="/js/jquery-migrate-1.4.1.js"></script>
<script src="/js/funciones.js"></script>
<script src="/js/jquery.rsv.js"></script>
<script src="/js/headroom.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/intersection-observer-polyfill.js"></script>

<script>
    var header = document.querySelector("#header");
    if(window.location.hash) {
        header.classList.add("slide--up");
    }

    $(document).ready(function(e){
        new Headroom(header, {
            tolerance: {
                down : 10,
                up : 20
            },
            offset :0,
            classes: {
                initial: "slide",
                pinned: "slide--reset",
                unpinned: "slide--up"
            }
        }).init();
    });

$(document).on('click','.icon-menu', function(e){
    $(".icon-menu").toggleClass('active');
    $('.icon-menu').parent().toggleClass('open');
    $('body').toggleClass('overflow-hidden');

});


$(document).ready(function(e){

    $(document).on("click touchend","a[href*='#']",function(e) {

        var href = $(this).attr('href');
        var id = href.split("#");

        if(id.length==2  && id[1] != '')
        {
            id = id[1];
            if($("#"+id).length)
            {

                $(".icon-menu").removeClass('active');
                $('.icon-menu').parent().removeClass('open');
                $('body').removeClass('overflow-hidden');
                $('html, body').animate({ scrollTop : $("#"+id).offset().top }, 'easeInOutCubic');
                e.preventDefault();
                return false;
            }

        }

    });

    var observerThreshold=[];
    for(var i=0;i<=100;i++)
    {
        observerThreshold.push(i/100);
    }
    var observerOptions = {
        threshold: [0,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,0.95,1]//[0,0.1,0.2,0.5,0.6,1] //[0, 0.15, 0.25, 0.35, 0.45, 0.5, 0.65, 0.75, 0.85, 0.95,1.0] //

    };
    var observer = new IntersectionObserver(function(entries){

        for(var k in entries)
        {
            var entry = entries[k];
            var percentOfScreen = ((entry.boundingClientRect.height * entry.intersectionRatio) * 100) / entry.rootBounds.height;
            var id = $(entry.target).closest(".seccion").attr("id");
            if(entry.isIntersecting && parseInt(percentOfScreen) >= 50)//( ((entry.intersectionRatio >= 0.6 && window.innerWidth > 768)) || (entry.isIntersecting && percentOfScreen >= 50 && window.innerWidth < 768))
            {

                $(".menu li").removeClass("active");
                var a = $(".menu").find("a[href='/#" + id + "-title']");
                a.closest("li").addClass("active");
                document.title = "Advertis Web Technologies - " + a.html();
            }

        }
    },observerOptions);

    $(".seccion").each(function () {

        observer.observe($(this)[0]);

    });

});
</script>




<script>
var checkform = [];

checkform.push('required,nombre,Ingrese su nombre'); 
checkform.push('length=0-60,nombre,El nombre no debe superar los 60 caracteres'); 
checkform.push('required,email,Ingrese su email'); 
checkform.push('valid_email,email,Ingrese un email válido'); 
checkform.push('length=0-120,email,El email ingresado es demasiado largo'); 
checkform.push('required,mensaje,Ingrese su consulta'); 
checkform.push('length=0-601,mensaje,El texto de la consulta no debe superar los 600 caracteres'); 

$(document).ready(function() {
    $("#fcontacto").RSV({
        onCompleteHandler: myOnCompleteFormPie,
        displayType: "display-html",
        customErrorHandler: muestraErrorPie,
        rules: checkform
    });
});

$(document).on("click",".success .bt-volver",function() {
    $(".success").hide();
    $("#fcontacto").show();
    return false;
});

$(document).on("click",".cont-error .bt-volver",function() {
    $(".cont-error").hide();
    $("#fcontacto").show();
    return false;
});

$("#fcontacto input, #fcontacto select, #fcontacto textarea").focus(function() {
    $(this).parent().removeClass("error");
    $(this).parent().find(".msj-error").hide();

    if ($(this).is("input[type='checkbox']")) {
        $(this).parent().parent().find(".msj-error").hide();
    }
});

function muestraErrorPie(f, errorInfo) {

    if (errorInfo.length == 0) {
     return true;
    }

    $("#fcontacto .cont-error").removeClass("error");

    for (var i=0; i<errorInfo.length; i++) {
        var m = errorInfo[i][0];

        if (i==0) {
            $(m).focus();
        }

        $(m).parent().addClass("error");

        if (!$(m).parent().find(".msj-error").length && !$(m).is("input[type='checkbox']")) {
            $(m).parent().append("<div class='clear'></div>");
            $(m).parent().append("<div class='msj-error'></div>");
        }
        $(m).parent().find(".msj-error").html(errorInfo[i][1]).show();

        if ($(m).is("input[type='checkbox']")) {
            $(m).parent().parent().find(".msj-error").html(errorInfo[i][1]).show();
        }
    }

    return false;
}

function myOnCompleteFormPie() {

    var data = $("#fcontacto").serialize();
    $(".enviar").html("Enviando ...");

    $.ajax({
    "method":"post",
    "url":"/send-contacto.php",
    "dataType":"json",
    "data":data,
    "success":function (e) {

         if (!e.error) {

            $(".success .nombre").html($("#fcontacto [name='nombre']").val());
            $("#fcontacto").fadeOut(function () {

                $(".success").fadeIn();

            });

        } else {

            $(".cont-error p").html(e.data);

            $("#fcontacto").fadeOut(function () {

                $(".cont-error").fadeIn();

            });

        }

    },
    "error":function (e) {

        $("#fcontacto").hide();
        $(".cont-error").fadeIn("fast");
    }

    }).always(function(jqXHR, textStatus, jqXHR2) {

        $(".enviar").html("Enviar");

    });

    return false;
}
</script>


<script>
var mapLat = -31.7328314;
var mapLng = -60.534833100000014;
var initMapOK = false;
var mapIsVisible = false;

function initMap() {

    var gamap = document.createElement('script'); gamap.type = 'text/javascript'; gamap.async = true;
    gamap.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC7FCSTyFAsorny3M9P6gq24ybl2UjG7D4&libraries=places';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gamap, s);

    var location = new google.maps.LatLng(mapLat,mapLng);

    var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 17,
        mapTypeControl: false,
        scrollwheel: false,
        streetViewControl: false
    });
    map.setCenter({lat:mapLat,lng:mapLng});

    marker = new google.maps.Marker({
        map: map
    });
    marker.setPosition(location);
}

$(".map").click(function() {

    if (!initMapOK) {
        initMap();
    }

    if (mapIsVisible) {
        text = $(this).attr("data-text-open");
    } else {
        text = $(this).attr("data-text-close");
    }

    $(this).html(text);
    mapIsVisible = !mapIsVisible;
    $(".mapa,.cont-contacto").toggle();
})
</script>













<!-- Facebook Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '815814681961286');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
       src="https://www.facebook.com/tr?id=815814681961286&ev=PageView&noscript=1"
    /></noscript>
<!-- End Facebook Code -->

<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4095733-1']);
    _gaq.push(['_setDomainName', 'advertis.com.ar']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<script>
    wow = new WOW( {
            boxClass:     'wow',
            animateClass: 'animated',
            offset:       150,
            mobile:       false,
            live:         true
        }
    );
    wow.init();

    $("a.blank").attr("target","_blank");
    console.log("¿Te gusta mirar debajo del capot?. Por que mejor no nos ayudas a construir la máquina. Escribinos a contacto@advertis.com.ar");
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b130c878859f57bdc7bc8fe/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->


</body>

</html>