{% extends 'base.html' %}
{% block contenido %}
{% load static %}
{% if user.is_superuser %}
<li><a target="_blank" class="nav-link" href=""> Administrar noticia</a></li>
{% endif %}
    <!--Post Detail View-->
    {%for post in noticia%}
    {{post.titulo}}
    {{post.imagen}}
    {{post.texto|truncatechars:50}}
    {{post.fecha}}
<!--div data-gb-custom-block data-tag="for"></div-->
<div class="comment">
    Comentarios: {{post.comment.count}}
    <strong>{{ comment.name }}</strong>
    <div class="date">{{ comment.publish }}</div>
    <p>{{ comment.texto|linebreaks }}</p>
</div>

<div data-gb-custom-block data-tag="empty">
    <p>No hay comentarios aún :)</p>
</div>
{%endif%}
<style>
    .comment{
        margin: 20px 0px 20px 20px;
    }
</style>
{% endblock %}