{% extends 'base.html' %}
{% block title %}{{titulo}}{%endblock %}
{% load static %}
{% block contenido %}

<section data-bs-version="5.1" class="image1 cid-tf6nPGwDQN" id="image1-q">
    

    
    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    {% if posts.imagen %}<img src="{{ posts.imagen.url }}" class="d-block w-100">
               {% else %}<img src="noticia/default.png"  >
               {% endif %}
                    <p class="mbr-description mbr-fonts-style pt-2 align-center display-4">{{posts.fecha}}</p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>{{posts.titulo}}</strong></h3>
                    <h2 class="mbr-section-title mbr-fonts-style mb-3 display-6">{{posts.subtitulo}}</h2>
                    <p class="mbr-text mbr-fonts-style display-7">{{posts.texto}}</p>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="comment">
        Comentarios: {{comentarios.count}}
        {% include 'comentario/listarcomentario.html' %}
    <div class="mb-3" style="height: 100%;">
        {% include 'comentario/addcomentario.html' %}
    </div>
    </div>
</section>

{%endblock %}