{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<section>
    <div style="margin-top: 8%; text-align: center;">
        {% for item in usuarios %}
        <div style="border-style:ridge;">
        {% if user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'apps.usuario:eliminarUsuario' item.pk %}">Eliminar usuario:
                {{item.username}}</a>
        {% endif %}
            <h6>
                <strong>Nombre: {{ item.first_name }}</strong>
            </h6>
            <h6>
                <strong>Apellido: {{ item.last_name }}</strong>
            </h6>
            <p>
                <i>Email: {{ item.email }}</i>
            </p>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}