{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<section>
    {% for item in usuarios %}
    <div class="card" style="margin-top: 10%;">
        {% if user.is_superuser %}
        <button><a class="btn btn-primary" href="{% url 'apps.usuario:eliminarUsuario' item.pk %}">Eliminar usuario:
                {{item.username}}</a></button>
        {% endif %}
        <div class="card-wrapper" style="border-style:double; text-align: center;">
            <div class="row align-items-center">
                <div class="col-12 col-md">
                    <div class="card-box">
                        <h4>
                            <strong>Nombre: {{ item.first_name }}</strong>
                        </h4>
                        <h4>
                            <strong>Apellido: {{ item.last_name }}</strong>
                        </h4>
                        <p>
                            <i>Email: {{ item.email }}</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}