body {
    background-image: url('img/Fondo2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial ;
}
h5 {
    font-family: 'cursive';
    text-align: center;
    margin-top: auto;
    font-size: 2rem;
}
h4 {
    font-family: 'cursive';
    text-align: center;
    margin-top: auto;
    font-size: 2rem;
} 