@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body {
    height: calc(100% - 10px);
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Dancing Script', cursive;
    background-size:cover ;
}
.fondocss {
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0
    }
.fixed-top{
    font-size: x-large;
    padding: auto;
    margin-bottom: auto;
    width: auto ;
    height: 1%;
    display: block;
}
.bienvenida { 
    width:auto;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(104, 41%, 77%, 0.44);
    padding: 2%;
    font-size: x-large;
    text-align: center;
    background-color: rgba(193, 208, 221, 0.541);
}
.presentacion_logo{
    width: 1450px;
    height: auto;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(104, 41%, 77%, 0.44);
    padding: 2%;
    text-align: center;
    background-color: rgba(193, 208, 221, 0.541);
}
h5{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: auto;
    font-size: 2rem;
}
h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: auto;
    
    font-size: 2rem;
}

/***********SECCIONES***********/
.title-about{
    width: 100%;
    margin-top: 6%;
    text-align: center;
    border-radius: 15px;
}
.about-content{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    font-size: large;
    text-align: center;
    background-color: rgba(41, 45, 68, 0.712);
}
.about-img{
    width: auto;
    margin-left: 5%;
    box-shadow: 0 9px 9px hsla(0, 0%, 100%, 0.31);
}
.mision{
    text-align: left;
}