body {
    background-image: url('img/fondo3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll ;
    font-family: Arial ;
}
.logo{
    position: relative;
    margin-top: auto;
    left: 600px;
}
h5 {
    font-family: 'cursive';
    text-align: center;
    margin-top: auto;
    font-size: 2rem;
}
h4 {
    font-family: 'cursive';
    text-align: center;
    margin-top: auto;
    font-size: 2rem;
} 