.slider {
	width: 75%;
    height: 600px;
	overflow: hidden;
	margin-left: 25%;
}

.slider ul {
	display: flex;
	width: 200%;
	animation: cambio 10s 2s infinite alternate linear;
    /*animation-name:cambio,animation-duration: 20s,animation-delay,animation-iteracion-count:infinite,animation-direction:alternate,
    animation-timing-funtion:linear,animation-fill-mode*/
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 50%; /*tamaño de la imagen*/
}

@keyframes cambio {

	0% {margin-left: 0;}
	45% {margin-left: 0;}
	
	50% {margin-left: -100%;}
	100% {margin-left: -100%;}
	
}
/*__________SLIDER ABOUT US__________*/
.slider2 {
	width: 75%;
    height: auto;
	overflow: hidden;
}

.slider2 ul {
	display: flex;
	width: 400%;
	animation: cambio 15s infinite alternate linear;
    /*animation-name:cambio,animation-duration: 20s,animation-delay,animation-iteracion-count:infinite,animation-direction:alternate,
    animation-timing-funtion:linear,animation-fill-mode*/
}

.slider2 li {
	width: 75%;
	list-style: none;
}

.slider2 img {
	width: 75%; /*tamaño de la imagen*/
	border-radius: 5px;
	margin-left: 25%;
	margin-right: 25%;
    box-shadow: 0 9px 9px hsla(20, 67%, 75%, 0.31);
	border-style: inset;
}

@keyframes cambio {

	0% {margin-left: 0;}
	25% {margin-left: 0;}
	
	30% {margin-left: -100%;}
	50% {margin-left: -100%;}
	
	55% {margin-left: -200%;}
	75% {margin-left: -200%;}

	80% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
