.slider {
	width: 75%;
    height: 600px;
	overflow: hidden;
	margin-left: 25%;
}

.slider ul {
	display: flex;
	width: 200%;
	animation: cambio 15s 2s infinite alternate linear;
    /*animation-name:cambio,animation-duration: 20s,animation-delay,animation-iteracion-count:infinite,animation-direction:alternate,
    animation-timing-funtion:linear,animation-fill-mode*/
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 50%; /*tamaño de la imagen*/
}

@keyframes cambio {

	0% {margin-left: 0;}
	45% {margin-left: 0;}
	
	50% {margin-left: -100%;}
	100% {margin-left: -100%;}
	
}
