{% extends 'base.html'  %}
{% load static %}
{% block contenido %}

<body>

<section data-bs-version="5.1" class="contacts3 map1 cid-tf6rrDzHAD" id="contacts3-z">
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Contáctanos</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Teléfono</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7"><a href="tel:+5493734403707">+5493734403707 -> Presione aqui para llamar</a></p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7"><a href="mailto:oportunidaddecambiomachagai@gmail.com?Subject=Hola!%20Me%20contacto%20desde%20la%20página%20web%20para:">oportunidaddecambiomachagai@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="map-wrapper col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.5963245120297!2d-60.054423400000005!3d-26.916303600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9446ba94ac7896cd%3A0x61f20224831a6fe0!2sLas%20Heras%20345%2C%20Machagai%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1661045605575!5m2!1ses-419!2sar" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="share3 cid-tf6JIxm8hR" id="share3-10">

    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-3 mbr-fonts-style display-2"><strong>Seguinos en nuestras redes!</strong>
                </h3>
                <div class="social-list align-center">
                    
                    <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href="https://www.facebook.com/oportunidadecambio">
                            <span class="socicon-facebook socicon"></span>
                        </a>
                        
                        <a class="iconfont-wrapper bg-instagram m-2" href="https://www.instagram.com/oportunidaddecambiomachagai/" target="_blank">
                            <span class="socicon-instagram socicon"></span>
                        </a>
    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}