{% extends 'base.html'  %}
{% load static %}
{% block contenido %}
<section data-bs-version="5.1" class="slider2 cid-tf6Obn1r1u" id="slider2-13">
    

    
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-md-9">
              <div class="carousel slide carousel-fade" id="tf9JTW0NFF" data-ride="carousel" data-bs-ride="carousel" data-interval="6000" data-bs-interval="6000">
                  
                  <ol class="carousel-indicators">
                      <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#tf9JTW0NFF" data-bs-target="#tf9JTW0NFF"></li>
                      <li data-slide-to="1" data-bs-slide-to="1" data-target="#tf9JTW0NFF" data-bs-target="#tf9JTW0NFF"></li>
                      <li data-slide-to="2" data-bs-slide-to="2" data-target="#tf9JTW0NFF" data-bs-target="#tf9JTW0NFF"></li>
                  </ol>
                  <div class="carousel-inner">
                      
                      <div class="carousel-item slider-image item active">
                          <div class="item-wrapper">
                              <img class="d-block w-100" src="{% static 'assets/images/299767658-3149370695328022-1988956444902157106-n-1238x854.jpg' %}"  alt="Oportunidad de cambio"    data-slide-to="0" data-bs-slide-to="0">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>&nbsp;</strong></h5>
                                  
                              </div>
                          </div>
                      </div><div class="carousel-item slider-image item">
                          <div class="item-wrapper">
                              <img class="d-block w-100" src="{% static 'assets/images/298062856-3139506576314434-274557617935113780-n-1600x1200.jpg' %}"  alt="Oportunidad de cambio"    data-slide-to="1" data-bs-slide-to="1">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>&nbsp;</strong></h5>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item slider-image item">
                          <div class="item-wrapper">
                              <img class="d-block w-100" src="{% static 'assets/images/juegos1-1600x777.jpg' %}"  alt="Oportunidad de cambio"   >
                              <div class="carousel-caption d-none d-md-block">
                                  <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>&nbsp;</strong></h5>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
                  <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev" href="#tf9JTW0NFF">
                      <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                      <span class="sr-only visually-hidden">Previous</span>
                  </a>
                  <a class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next" href="#tf9JTW0NFF">
                      <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                      <span class="sr-only visually-hidden">Next</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}