{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">



    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(187, 187, 187);"></div>

    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">




            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content1 cid-s48udlf8KU" id="content1-8">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">¡Bienvenidos!</h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">Somos la asociación civil Oportunidad de cambio! Un grupo de personas dedicadas a ayudar a mejorar la calidad de vida de las personas que lo necesitan, en su mayoría niños!<br>El 14 de Junio del corriente año(2022) cumplimos 10 años como fundación y les presentamos el cambio del diseño de logo a uno que hace referencia a este logro tan importante para nuestra comunidad:<br></h4>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider2 cid-tf6Obn1r1u" id="slider2-13">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div class="carousel slide carousel-fade" id="tf9JTW0NFF" data-ride="carousel" data-bs-ride="carousel" data-interval="6000" data-bs-interval="6000">
                    
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#tf9JTW0NFF" data-bs-target="#tf9JTW0NFF"></li>
                        <li data-slide-to="1" data-bs-slide-to="1" data-target="#tf9JTW0NFF" data-bs-target="#tf9JTW0NFF"></li>
                    </ol>
                    <div class="carousel-inner">
                        
                        <div class="carousel-item slider-image item active">
                            <div class="item-wrapper">
                                <p>ANTES:</p>
                                <img class="d-block w-50" src="{%static 'img/imagen-anterior.jpg'%}" alt="Oportunidad de cambio"   data-slide-to="0" data-bs-slide-to="0">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>&nbsp;</strong></h5>
                                    
                                </div>
                            </div>
                        </div><div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <p>DESPUES:</p>
                                <img class="d-block w-50" src="{% static 'assets/images/logo-modified-1-1271x1271.png' %}" alt="Oportunidad de cambio"   data-slide-to="1" data-bs-slide-to="1">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>&nbsp;</strong></h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev" href="#tf9JTW0NFF">
                        <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next" href="#tf9JTW0NFF">
                        <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content1 cid-s48vrXhP0J" id="content1-d">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">¡Los invitamos a registrarse, navegar por nuestra página web y conocernos un poco más!&nbsp;</h4>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
