
{% extends 'base.html'  %}
{% load static %}
{% block contenido %}
    <h1>Oportunidad de cambio</h1>
    <button class="btn btn-primary">Registrarse</button>
    <button class="btn btn-primary">Iniciar sesión</button>
    <form action="" method="post">
        <input type="text" name="buscar" placeholder="Buscar">
        <input type="submit" value="Noticias">
        <input type="submit" value="Nosotros">
        <input type="submit" value="Contacto">
        <input type="submit" value="Misión">
        <input type="submit" value="Visión">
        <input type="submit" value="Lugar">
        <input type="submit" value="Recursos">
    </form>
    <h2>Cambio de logo haciendo referencia a los 10 años de la fundación</h2>
    <div class="slider">
        <ul>
            <li><img src="{%static 'img/Logo_anterior.jpeg'%}" alt=""></li>
            <li><img src="{% static 'img/Logo-modified.png' %}" alt=""></li>
        </ul>
    </div>
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
{% if user.is_authenticated %}
    <p>{{user.username}}</p>
{% else %}
    <p>Para ver el contenido completo debe loguearse :) </p>
{% endif %}
{% endblock %}
    
