{% extends 'base.html'  %}
{% load static %}
{% block contenido %}

<body>
  
  <section data-bs-version="5.1" class="header15 cid-tf6qd2fShO" id="header15-s">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h2 class="mbr-section-title mb-3 mbr-fonts-style display-5"><strong>Video institucional</strong></h2>  
                </div>
            </div>
            <div class="mbr-figure col-12 col-md-8"><iframe class="mbr-embedded-video" src="https://player.vimeo.com/video/741513068?autoplay=1&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features16 cid-tf6qgBuYEN" id="features17-t">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{% static 'assets/images/oportunidad-de-cambio2-1160x820.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Visión</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">Actualmente la ONG trabaja en tres instalaciones propias, en diferentes puntos de la localidad, a los que asisten mayoritariamente niños de barriadas carenciadas; En este contexto los comedores se convierten en un espacio de contención en el que, además de proporcionarles alimento, se les brinda esparcimiento, apoyo escolar, actividades culturales y recreativas; afecto y atención. Allí los niños son escuchados y contenidos.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features15 cid-tf6qh5w7PQ" id="features16-u"> 
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Misión</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">-	Fomentar el desarrollo de la educación , de la salud y del bienestar social. Logrando el mejoramiento de la calidad de vida.
<br>-	Estimular la participación civica y solidaria. Crear ámbitos de integración y recreación.
<br>-	Promover la dignidad humana en toda su dimensión ética y cultural, particularmente la igualdad efectiva de oportunidades entre el hombre y la mujer y los derechos de la infancia.&nbsp;<br></p>
                        
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{% static 'assets/images/cambio-1160x820.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="team2 cid-tffTM7TT6b" xmlns="http://www.w3.org/1999/html" id="team2-18">
    

    <h2 style="text-align:center;"><strong>Nuestro equipo:</strong></h2>
    
    <div class="container" style="margin-top:5%;">
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/images/user-default-600x525.png' %}" class="d-block w-50" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <h4>
                                <strong>Josefa Solis</strong>
                            </h4>
                            <p>
                                <i>Presidente</i>
                            </p>
                        
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/images/user-default-600x525.png' %}" class="d-block w-25" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <h4 >
                                <strong>Silvana Clerici</strong>
                            </h4>
                            <p>
                                <i>Consejera</i>
                            </p>
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                                    </a>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/images/user-default-600x525.png' %}" class="d-block w-25" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <h4 >
                                <strong>Carlos Aguirre</strong>
                            </h4>
                            <p>
                                <i>Consejero</i>
                            </p>
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                                    </a>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/images/user-default-600x525.png' %}" class="d-block w-25" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <h4 >
                                <strong>Susana Maidana</strong>
                            </h4>
                            <p>
                                <i>Consejera</i>
                            </p>
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/images/user-default-600x525.png' %}" class="d-block w-25" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <h4 >
                                <strong>Ernesto Nuñez</strong>
                            </h4>
                            <p>
                                <i>Consejero</i>
                            </p>
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                                    </a>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/images/user-default-600x525.png' %}" class="d-block w-25" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <h4 >
                                <strong>Ruben Sandoval</strong>
                            </h4>
                            <p>
                                <i>Consejero</i>
                            </p>
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                                    </a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="{% static 'assets/images/user-default-600x525.png' %}" class="d-block w-25" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <h4 >
                                <strong>Jorge Pucheta</strong>
                            </h4>
                            <p>
                                <i>Consejero</i>
                            </p>
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                                    </a>
                                    <a href="" target="_blank">
                                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                                    </a>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}